#group {
  margin-top: 25px;
  width: 200px;
  height: 50px;
  font-size: 25px;
}

#outcome {
  margin-top: 50px;
  font-size: 25px;
}

#playAgain {
  display: none;
}

#group {
  display: block;
}

.winner {
  font-size: x-large;
  margin-top: 20px;
}

#outcome {
  margin-bottom: 20px;
}
