body {
  font-family: Arial;
  font-weight: bold;
  background-color: blue;
  color: rgb(217, 255, 0);
}

#group {
  height: 50px;
  font-size: 40px;
  display: block;
}

#playAgain {
  display: none;
  font-size: 25px;
}

.winner {
  font-size: 30px;
  margin-top: 25px;
  color: rgb(25, 255, 5);
}

#outcome {
  margin-top: 150px;
  margin-bottom: 50px;
  color: white;
  font-size: 30px;
}

#results {
  margin-bottom: 25px;
  font-size: 25px;
}

#rock,
#paper,
#scissors {
  font-size: 25px;
}
